<!DOCTYPE html>
<html>
<head>
<title>My Expenses</title>
</head>
<body>

<!--
<ul class = "nav navbar" >
  <li>'Expensify'</li>
  <li><a href='#dashboard'>Dashboard</a></li>
<li><a href='/expenses'>Expenses</a></li>
</ul>
-->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">'Expensify'</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/expenses">Expenses</a></li>
    </ul>
  </div>
</nav>


<br>

<div>
  <section>
    <p>$ 13'234.234</p> 
    <span>Today</span>

    <p>$ 13'234.234</p> 
    <span>Today</span>

    <p>$ 13'234.234</p> 
    <span>Today</span>

  </section>

  <section>
    <div> <img src="http://www.scielo.sa.cr/img/revistas/mlcr/v29n1/art4i4.jpg" alt="Smiley face" height="420" width="420">    </div>
    <div></div>
    <div></div>
    <div></div>
  </section>
</div>


</body>
</html>
