<%= render "layouts/menu" %>
<div class="container">
  <section class="d-flex justify-content-around">
    <div id="stats" class="p-2">
      <p>$1.300.000</p>
      <span>Today</span>
    </div>
    <div id="stats" class="p-2">
      <p>$1.300.000</p>
      <span>Today</span>
    </div>
    <div id="stats" class="p-2">
      <p>$1.300.000</p>
      <span>Today</span>
    </div>
    <div id="stats" class="p-2">
      <p>$1.300.000</p>
      <span>Today</span>
    </div>
  </section>

  <section class="d-flex justify-content-around flex-wrap">
    <div class="graphs"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8gqjX65bDhKIlCyhPQGEZlcIVZmGQVyYr0BF49GUV8A3f00Qm" alt=""></div>
    <div class="graphs"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8gqjX65bDhKIlCyhPQGEZlcIVZmGQVyYr0BF49GUV8A3f00Qm" alt=""></div>
    <div class="graphs"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8gqjX65bDhKIlCyhPQGEZlcIVZmGQVyYr0BF49GUV8A3f00Qm" alt=""></div>
    <div class="graphs"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8gqjX65bDhKIlCyhPQGEZlcIVZmGQVyYr0BF49GUV8A3f00Qm" alt=""></div>
  </section>
</div>
